@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Shalimar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

nav ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav ul li {
    list-style-type: none;

}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration:underline;
    color: blue;
}

h1 {
    height: 300px;
    background-color: lightgray;
    text-align: center;
    padding-top: 120px;
    font-family: cursive;
}

section, form, section img {
    width: 900px;
    margin: 50px auto;
}

section h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}



.logo{
    font-family: "Shalimar";
    font-size: 3rem;
}
p{
    font-family: "Jost";
    text-align: justify;
}


/* Contact form */

form {
    width: 800px;
}
form fieldset{
    height: 300px;
    font-family: "Jost";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

label span {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    justify-content: space-around;
}

.right {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.right label:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right label{
    margin-bottom: 20px;
}

input {
    width: 300px;
    height: 30px;
}

button {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;

}



textarea {
    width: 300px;
    height: 200px;
}
/* liens utiles */

.liens-utiles {
    width: 900px;
    margin: 50px auto;
    text-align: center;
    font-family: 'Jost';
}

ol {
    list-style: none;
}

ol li {
    font-size: 1.5rem;
    margin: 20px;
}

ol li a {
    color: #E86124;
    text-decoration: none;
}

ol li a:hover {
    text-decoration: underline;
}

/* creation */

.cards {
    display: grid;
    width: 900px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 50px auto;
}
